section {
    text-align: center;
    padding: 50px;
    height: 100px;
    width: 150px;
    border: 1px solid black;
}

    button {
        display: inline-flex ;
        margin: 1px;
        padding: 5px;
    }